.body{
    background-color: rgb(31, 131, 218);
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width: 150px;
    height: 150px;
    background-color: aqua;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    padding: 200px;
    margin: auto;
    justify-content: center;
    box-shadow: 0 4px 10px black;
    
}